@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

$font-1: 'Inter', sans-serif;

$primary: #112250;
$white: #EEEDF9;
$accent: #112250;

// Variations du bleu foncé
$primary-light: rgba(17, 34, 80, 0.8);
$primary-lighter: rgba(17, 34, 80, 0.6);
$primary-lightest: rgba(17, 34, 80, 0.1);

// Variations du blanc
$white-soft: rgba(238, 237, 249, 0.9);
$white-muted: rgba(238, 237, 249, 0.7);
$white-subtle: rgba(238, 237, 249, 0.1);

$h1: 72px;
$h2: 56px;
$h3: 40px;
$h4: 28px;
$h5: 20px;
$h6: 16px;

$text: 16px;

$t-sm: .3s ease;
$t-md: .5s ease;
$t-lg: .8s ease;